.box{
  width: 250px;
  padding:10px;
  margin:0 auto;
  border:2px solid #666666;
}
.number{
  width:50px;
  height:30px;
}
.number,.btn{
  text-align: center;
}
.btn{
  margin-top:10px;
  padding:10px 12px;
  border:none;
  font-weight: bold;
  background:#F1C40F;
}
#result{
  width:100%;
  height:30px;
  line-height:30px;
  background:#E74C3C;
}
.btn,#result{
  color:#fff;
}
